# -- Backend environment variables --
# PostgreSQL
POSTGRES_USER=facedetect
POSTGRES_PASSWORD=facedetect
POSTGRES_DB=facedetect
POSTGRES_HOST=db
POSTGRES_PORT=5432

# App
APP_TITLE=Face Detection API
APP_VERSION=1.0.0
